amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
billiard==4.2.1
black==25.1.0
celery==5.5.2
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dataclasses==0.6
distlib==0.3.9
Django==5.2
django-cors-headers==4.7.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
dnspython==2.7.0
exceptiongroup==1.2.2
filelock==3.18.0
holidays==0.70
identify==2.6.10
idna==3.10
iniconfig==2.1.0
kombu==5.5.3
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pre_commit==4.2.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
PyJWT==2.9.0
pytest==8.3.5
pytest-django==4.11.1
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
redis==5.3.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
virtualenv==20.30.0
wcwidth==0.2.13
