{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Account Setup{% endblock %}


{% block content_container_class %}flex-fill d-flex flex-column justify-content-center align-items-center py-5{% endblock %}
{% block content %}
<div class="panel rounded shadow p-5">
  <h2 class="fw-bold text-center">Setup Employee Account</h2>
  <form method="POST" action="{% url 'account_setup' %}" class="mt-4">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      
      {% for field in form %}
      <div class="form-group mt-3">
        <label for="{{ field.id_for_label }}" class="text-light fw-semibold w-100 d-flex flex-row align-items-center justify-content-between">
          <span>{{ field.label }}:</span>
          {% if not field.field.required %}
          <small class="text-light-emphasis fs-6 ms-2"><em>(Optional)</em></small>
          {% endif %}
        </label>
        {{ field }}
        {% for error in field.errors %}
          <div class="fieldError text-danger text-wrap">{{ error|escape }}</div>
        {% endfor %}
      </div>
      {% endfor %}

      {% for error in form.non_field_errors %}
      <div class="nonFieldErrors text-danger text-wrap">{{ error|escape }}</div>
      {% endfor %}

      <button type="submit" class="btn btn-lg btn-success w-100 p-3 mt-5">Setup Account</button>

      <hr>

      <div class="d-flex flex-row gap-3 justify-content-around align-items-center bg-info text-white text-center rounded p-2 w-100">
        <div><i class="fas fa-circle-info"></i></div>
        <div>
          <p class="m-0">This is form is not used to create a new account.</p>
          <p class="m-0">Please contact a store manager to create an account.</p>
        </div>
      </div>
  </form>
</div>

<button onclick="location.href=`{% url 'login' %}`" class="btn btn-outline-secondary mt-4">
  <i class="fa-solid fa-arrow-left me-2"></i> Back to Login
</button>
{% endblock %}
