{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Employee Dashboard{% endblock %}
{% block content %}

<div class="employee-dashboard">
  <!-- Left Panel -->
  <div class="left-panel">
      <!-- Trigger Button for Modal -->
      <div class="mb-3">
        <h1 id="selectedEmployee">No Selected Employee</h1>
        <button id="selectUserButton" class="btn btn-primary">Select Employee</button>
      </div>
      <p>Local Time: <span id="localTime">--:--</span></p>
      <div id="shiftInfo"></div>
  </div>

  <!-- Right Panel -->
  <div class="right-panel">
      <!-- <div id="timer">Worked: 0H 0M</div> -->
      <button id="clockButton" type="button" class="btn btn-success p-3 fs-4" disabled>Clock In</button>
      <div class="deliveries flex">
          Deliveries:
          <button id="minusButton" class="btn" disabled>-</button>
          <span id="deliveriesCount">0</span>
          <button id="plusButton" class="btn" disabled>+</button>
      </div>
  </div>

  <!-- User Selection Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Select a User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" id="userSearchBar" class="form-control" placeholder="Search for a user..." />
                </div>
                <ul id="userList" class="list-group"></ul>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- Authentication PIN Modal -->
<div class="modal fade" id="authPinModal" tabindex="-1" aria-labelledby="authPinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authPinModalLabel">Enter Your PIN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please confirm your identity by entering your PIN.</p>
        <div class="mb-3">
          <input type="password" id="authPinInput" class="form-control" placeholder="Enter PIN" maxlength="32">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="authPinSubmit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block customscripts %}
{% load static %}
<script src="{{ BASE_URL }}{% static 'js/scripts-clocking.js' %}"></script>
{% endblock %}
