{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Employee Dashboard{% endblock %}


{% block content %}
<h1 class="text-center flex-grow-1 mt-3 mb-5 fw-bolder"><u>Employee Dashboard</u></h1>

<div class="d-flex flex-column align-items-center">
  {% include "components/store_selection_controller.html" %}

  <div id="clockingContainer" class="panel rounded shadow p-5 mt-5">
    <button id="clockingButton" type="submit" class="btn btn-success p-3 fs-4 w-100" disabled>Clock In</button>
    <div class="deliveries flex">
        <button id="minusButton" class="btn disabled">-</button>
        <input type="number" id="deliveries" value="0" min="0" class="form-control w-25" disabled>
        <button id="plusButton" class="btn disabled">+</button>
    </div>
  </div>

  <div id="shiftRoster" class="mt-5">SHIFT ROSTER CONTAINER</div>

  <div id="shiftHistory" class="mt-5">SHIFT HISTORY CONTAINER</div>
</div>
{% endblock %}


{% block extra_urls %}
    clockedState: "{% url 'api:clocked_state' %}",
{% endblock %}


{% block customscripts %}
{% load static %}
<script src="{% static 'js/employee_dashboard.js' %}"></script>
{% endblock %}
