{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Employee Dashboard{% endblock %}
{% block content %}

<div class="employee-dashboard">
    <!-- Top Panel -->
    <div class="panel top-panel">
        <button id="selectUserButton" class="btn btn-primary">Select Employee <i class="bi bi-chevron-down"></i></button>
        <div id="shiftInfo"></div>
    </div>

    <!-- Middle Panel -->
    <div class="panel middle-panel">
        <button id="clockButton" type="button" class="btn btn-success" disabled>Clock In</button>
        <div class="deliveries">
            <div class="deliveries-title">Deliveries: <span id="deliveriesCount">0</span></div>
            <div class="deliveries-buttons">
                <button id="minusButton" class="btn" disabled>-</button>
                <button id="plusButton" class="btn" disabled>+</button>
            </div>
        </div>
    </div>

    <!-- Bottom Panel for Time -->
    <div class="panel bottom-panel">
        <i class="bi bi-clock"></i><span id="localTime">--:--</span>
    </div>
</div>

<!-- User Selection Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title" id="userModalLabel">Select a User</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" id="userSearchBar" class="form-control" placeholder="Search name..." />
                </div>
                <ul id="userList" class="list-group"></ul>
            </div>
        </div>
    </div>
</div>


<!-- Authentication PIN Modal -->
<div class="modal fade" id="authPinModal" tabindex="-1" aria-labelledby="authPinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authPinModalLabel">Enter Your PIN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Please confirm your identity by entering your PIN.</p>
                <input type="password" id="authPinInput" class="form-control" placeholder="Enter PIN" maxlength="32" required>
            </div>
            <div class="modal-footer">
                <button type="button" id="authPinSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customscripts %}
{% load static %}
<script src="{{ BASE_URL }}{% static 'js/scripts-clocking.js' %}"></script>
{% endblock %}
