{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Employee Details{% endblock %}
{% block content %}

<div class="container">
  <h1>Employee Details</h1>
  <table id="employeeTable">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Pin</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <!-- Rows will be populated dynamically -->
      </tbody>
  </table>
</div>

<!-- Edit Employee Modal -->
<div id="editModal" class="modal">
  <div class="modal-content">
      <h2>Edit Employee</h2>
      <form id="editForm">
          {% csrf_token %}
          <input type="hidden" id="editEmployeeId">
          <label for="editFirstName">First Name:</label>
          <input type="text" id="editFirstName">
          <label for="editLastName">Last Name:</label>
          <input type="text" id="editLastName">
          <label for="editEmail">Email:</label>
          <input type="email" id="editEmail">
          <label for="editPhone">Phone:</label>
          <input type="text" id="editPhone">
          <label for="editPin">Pin:</label>
          <input type="text" id="editPin">
          <button type="submit">Save Changes</button>
          <button type="button" id="closeModal">Cancel</button>
      </form>
      
  </div>
</div>

{% endblock %}
