{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Login{% endblock %}


{% block content %}
<div class="full-page-center">
  <div class="form-container">
    <h2 class="fw-bold text-center">Employee Login</h2>
    <form method="POST" action="{% url 'login' %}" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% for error in form.email.errors %}
            <div class="fieldError">{{ error|escapejs }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% for error in form.password.error %}
            <div class="fieldError">{{ error|escapejs }}</div>
            {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
        <div class="nonFieldErrors">{{ error|escapejs }}</div>
        {% endfor %}
        <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
{% endblock %}
