{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Login{% endblock %}

{% block content %}
<div class="full-page-center">
  <div class="form-container">
    <div class="login-box">
      <button onclick="location.href='/manager_login/'">Login as Manager</button>
      <button onclick="location.href='/employee_login/'">Login as Employee</button>
    </div>
  </div>
</div>
{% endblock %}


{% block customscripts %}
{% load static %}
<script src="{{ BASE_URL }}{% static 'js/general_login.js' %}"></script>
{% endblock %}
