{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Employee Dashboard{% endblock %}


{% block content_container_class %}my-5{% endblock %}
{% block content %}
<div class="text-center mb-4">
  <h1 class="fw-bolder">Manual Clock In/Out</h1>
</div>

<div class="d-flex justify-content-between align-items-center mb-4">
  <button onclick="location.href=`{% url 'home' %}`" class="btn btn-outline-secondary dashboard-tile">
    <i class="fa-solid fa-arrow-left me-2"></i> Back to Home Directory
  </button>
</div>

<div class="d-flex flex-column align-items-center">
  <div class="panel rounded gradient-panel shadow p-5">
    <form id="manualClockingForm" method="POST" action="{% url 'manual_clocking' %}">
      {% csrf_token %}
      {{ form.deliveries }}
      {{ form.latitude }}
      {{ form.longitude }}

      <div class="form-group">
        <label for="{{ form.store_pin.id_for_label }}" class="text-light">Store PIN:</label>
        <div class="position-relative w-100">
          {{ form.store_pin }}
          <button type="button" class="toggle-password position-absolute end-0 top-50 translate-middle-y me-2 p-0 border-0 bg-transparent text-secondary" tabindex="-1">
            <i class="fa fa-eye cursor-pointer"></i>
          </button>
        </div>
        {% for error in form.store_pin.errors %}
        <div class="field-error">{{ error|escapejs }}</div>
        {% endfor %}
      </div>

      <div class="form-group mt-4">
        <label for="{{ form.employee_pin.id_for_label }}" class="text-light">Employee PIN:</label>
        <div class="position-relative w-100">
          {{ form.employee_pin }}
          <button type="button" class="toggle-password position-absolute end-0 top-50 translate-middle-y me-2 p-0 border-0 bg-transparent text-secondary" tabindex="-1">
            <i class="fa fa-eye cursor-pointer"></i>
          </button>
        </div>
        {% for error in form.employee_pin.errors %}
        <div class="field-error">{{ error|escapejs }}</div>
        {% endfor %}
      </div>

      {% for error in form.deliveries.errors %}
      <div class="nonfield-error">{{ error }}</div>
      {% endfor %}

      {% for error in form.latitude.errors %}
      <div class="nonfield-error">{{ error }}</div>
      {% endfor %}

      {% for error in form.longitude.errors %}
      <div class="nonfield-error">{{ error }}</div>
      {% endfor %}

      {% for error in form.non_field_errors %}
      <div class="nonfield-error">{{ error|escapejs }}</div>
      {% endfor %}
    </form>
  </div>

  <div class="panel rounded gradient-panel shadow p-5 mt-5">
      <button id="clockingButton" type="submit" class="btn btn-clock-in p-3 fs-4 w-100" disabled>Clock In/Out</button>
      <div class="deliveries flex">
          <button id="minusButton" class="btn">-</button>
          <input type="number" id="visibleDeliveries" value="0" min="0" class="form-control w-25">
          <button id="plusButton" class="btn">+</button>
      </div>
  </div>
</div>
{% endblock %}


{% block customscripts %}
{% load static %}
<script src="{% static 'js/manual_clocking.js' %}"></script>
{% endblock %}
