{% extends "auth_app/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Pizza Clock-in || Schedule Dashboard{% endblock %}
{% block content_container_class %}my-5{% endblock %}

{% block content %}
  {% include "components/store_selection_controller.html" %}

  <h2 class="mb-4 text-center" id="schedule-week-title"></h2>

  <div class="scroll-container">
    <div class="d-flex" id="schedule-container" data-api-url="{% url 'api:api_schedule_data' %}">
        </div>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <a class="btn btn-outline-primary" href="#" id="previous-week-btn">
      ← Previous Week
    </a>
    <a class="btn btn-outline-primary" href="#" id="next-week-btn">
      Next Week →
    </a>
  </div>
{% endblock %}

{% block customscripts %}
<script src="{% static 'js/schedule_dashboard.js' %}"></script>
{% endblock %}