{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Shift Logs{% endblock %}

{% block content %}
<h1>Shift Logs</h1>
<button onclick="location.href=`{% url 'manager_dashboard' %}`">Back to Dashboard</button>
<!-- Add New Raw Data Log Button -->
<button id="addNewShiftBtn">Add New Shift</button>

<table id="shiftLogsTable">
  <thead>
    <tr>
      <th>Staff Name</th>
      <th>Rounded Login Time</th>
      <th>Rounded Logout Time</th>
      <th>Is Public Holiday</th>
      <th>Exact Login Timestamp</th>
      <th>Exact Logout Timestamp</th>
      <th>Deliveries</th>
      <th>Hours Worked</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{% include "components/pagination_controller.html" %}

<!-- Edit Employee Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Activity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <form id="editForm">
          <input type="hidden" id="editActivityId" name="editActivityId">

          <div id="editModalEmployeeListContainer" class="d-none">
            <div class="mb-3">
              <label for="editModalEmployeeSearchBar" class="form-label">Search Employees</label>
              <input
                type="text"
                class="form-control"
                id="editModalEmployeeSearchBar"
                placeholder="Type to filter employees..."
              >
            </div>
            <ul
              id="editModalEmployeeList"
              class="list-group mb-3"
              style="max-height: 200px; overflow-y: auto;"
            >
            </ul>
            <input
              type="hidden"
              id="editModalListSelectedEmployeeID"
              name="editModalListSelectedEmployeeID"
              value=""
            >
          </div>
          
          <div class="mb-3">
            <label for="editLoginTime" class="form-label">Login Timestamp</label>
            <input type="datetime-local" class="form-control" id="editLoginTime" name="editLoginTimestamp" required>
          </div>
          
          <div class="mb-3">
            <label for="editLogoutTime" class="form-label">Logout Timestamp</label>
            <input type="datetime-local" class="form-control" id="editLogoutTime" name="editLogoutTimestamp" required>
          </div>
          
          <div class="mb-3">
            <input type="checkbox" class="form-check-input" id="editIsPublicHoliday" name="editIsPublicHoliday">
            <label class="form-check-label" for="editIsPublicHoliday">Is Public Holiday?</label>
          </div>
          
          <div class="mb-3">
            <label for="editDeliveries" class="form-label">Deliveries</label>
            <input type="number" min="0" class="form-control" id="editDeliveries" name="editDeliveries">
          </div>
        </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="editModalSubmit">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_urls %}
    listSingularShiftDetails: "{{ BASE_URL }}{% url 'api:list_singular_shift_details' 0 %}".slice(0, -2),
    listEveryShiftDetails: "{{ BASE_URL }}{% url 'api:list_all_shift_details' %}",
    updateShiftDetails: "{{ BASE_URL }}{% url 'api:update_shift_details' 0 %}".slice(0, -2),
    createShift: "{{ BASE_URL }}{% url 'api:create_new_shift' %}",
{% endblock %}

{% block customscripts %}
{% load static %}
<script src="{{ BASE_URL }}{% static 'js/shift_logs.js' %}"></script>
{% endblock %}
