{% extends "auth_app/base.html" %}
{% block title %}Pizza Clock-in || Health & Food Safety Dashboard{% endblock %}

{% block content_container_class %}my-5{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="text-center mb-5">
    <h1 class="fw-bold">Health & Food Safety Dashboard</h1>
    <p class="lead">Logged in as: <strong>{{ request.session.name|default:"ERROR LOADING USER" }}</strong></p>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
    
    <div class="col">
      <a href="{% url 'manage_shift_logs' %}" class="card card-link h-100 shadow-sm border-0 text-center text-white bg-orange text-decoration-none">
        <div class="card-body">
          <i class="fa-solid fa-truck-arrow-right fa-2x mb-3"></i>
          <h5 class="card-title">Log Store Receivals</h5>
          <p class="card-text">Log store deliveries</p>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'manage_employee_details' %}" class="card card-link h-100 shadow-sm border-0 text-center text-white bg-orange text-decoration-none">
        <div class="card-body">
          <i class="fa-solid fa-temperature-half fa-2x mb-3"></i>
          <h5 class="card-title">Log Temperatures</h5>
          <p class="card-text">Log daily device temperatures.</p>
        </div>
      </a>
    </div>
    
    <div class="col">
      <a href="{% url 'account_summary' %}" class="card card-link h-100 shadow-sm border-0 text-center text-white bg-orange text-decoration-none">
        <div class="card-body">
          <i class="fa-solid fa-stopwatch fa-2x mb-3"></i>
          <h5 class="card-title">Food Time Tracker</h5>
          <p class="card-text">Track how long certain foods have been out.</p>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="{% url 'manage_stores' %}" class="card card-link h-100 shadow-sm border-0 text-center text-white bg-orange text-decoration-none">
        <div class="card-body">
          <i class="fa-solid fa-clipboard-check fa-2x mb-3"></i>
          <h5 class="card-title">Checklists</h5>
          <p class="card-text">Sign off on periodic checklists.</p>
        </div>
      </a>
    </div>

  </div>

  <div class="text-center mt-5">
    <a href="/" class="btn btn-outline-secondary">
      <i class="fa-solid fa-arrow-left me-2"></i>Back to Landing Page
    </a>
  </div>
</div>
{% endblock %}
