<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pizza Clock-in{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'auth_app/styles.css' %}">
</head>
<body>
    <div class="content-container">
      {% block content %}{% endblock %}
    </div>

    <!-- Scripts -->
    <script src="{% static 'auth_app/scripts.js' %}"></script>
</body>
</html>
