<div id="paginationController" class="d-flex flex-column justify-content-center align-items-center mt-2 w-100">
  <div id="paginationVariables" class="d-none" style="display: none;" data-offset="0" data-count="0" data-future-offset="0"></div>

  <div>
    <nav aria-label="Page navigation">
      <ul id="paginationList" class="pagination pagination-gradient justify-content-center">
        <li class="page-item">
          <button id="prevPageBtn" class="page-link disabled" aria-label="Previous" tab-index="-1">
            <i class="fas fa-chevron-left"></i>
          </button>
        </li>

        <!-- Pages added dynamically via js -->

        <li class="page-item">
          <button id="nextPageBtn" class="page-link" aria-label="Next">
            <i class="fas fa-chevron-right"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>

  <div class="d-flex justify-content-center align-items-center text-center w-100 mt-2">
    <label for="pageLimitInput" class="me-2 mb-0">Limit per Page:</label>
    {% with limit|default:25 as limit %}
    <select id="pageLimitInput" class="form-select form-select w-auto">
      <option value="5" {% if limit == 5 %}selected{% endif %}>5</option>
      <option value="10" {% if limit == 10 %}selected{% endif %}>10</option>
      <option value="25" {% if limit == 25 %}selected{% endif %}>25</option>
      <option value="50" {% if limit == 50 %}selected{% endif %}>50</option>
      <option value="75" {% if limit == 75 %}selected{% endif %}>75</option>
      <option value="100" {% if limit == 100 %}selected{% endif %}>100</option>
      <option value="150" {% if limit == 150 %}selected{% endif %}>150</option>
    </select>
    {% endwith %}
  </div>
</div>