/* ===========================
   BUTTONS
=========================== */
button, .btn {
    border: none;
    padding: 12px 20px;
    border-radius: var(--default-border-radius);
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--secondary-layer);
    color: white;
}
