/* ===========================
   FORMS
=========================== */
.form-control {
    background-color: var(--secondary-layer);
    color: white;
    border: none;
    border-radius: var(--default-border-radius);
    padding: 12px;
    font-size: 1rem;
}

.form-control::placeholder {
    color: #b0b3b8;
    font-style: italic;
}

.mb-3 {
    margin-bottom: 15px;
}
