/* ===========================
   LOGIN PAGE  
=========================== */
.login-box {
    /*Box Model*/
    width: 100%;
    height: 100%;

    /*Flexbox Layout*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-box button {
    /* Box Model */
    width: 100%;
    height: 30%;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;

    /* Typography */
    font-size: 30px;
    color: white;

    /* Visual Styles */
    background-color: var(--tertiary-layer);
    
    /* Interactivity */
    cursor: pointer;
}

/* ===========================
   MANAGER LOGIN
=========================== */
.manager-login-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-colour);
    text-align: center;
    padding-top: 20px;    
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
    background-color: var(--base-layer);
    border-radius: var(--default-border-radius);
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.form-group label {
    padding-left: 10px;
}

.form-group label {
    font-size: 1.2rem;
    color: var(--text-colour);
    text-align: center;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid var(--backdrop-colour);
    border-radius: var(--default-border-radius);
    background-color: var(--secondary-layer);
    color: var(--text-colour);
}

.form-group input:focus {
    outline: none;
    border-color: var(--success-colour);
}

.login-button {
    background-color: var(--secondary-layer);
    color: var(--success-colour);
    border: 2px solid var(--success-colour);
    font-size: 1.5rem;
    padding: 12px;
    border-radius: var(--default-border-radius);
    width: 100%;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.05);
    background-color: var(--success-colour);
    color: var(--base-layer);
}

