/* ===========================
   MODALS
=========================== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--base-layer) !important;
    color: #f4f4f9 !important;
    margin: 5% auto;
    padding: 10px;
    border-radius: var(--default-border-radius);
    width: 80%;
    max-width: 400px;
}

/* ===========================
   PIN CHANGE MODAL  
=========================== */
#changePinModal .modal-content {
    background-color: var(--base-layer); 
    color: white;
    border-radius: var(--default-border-radius); 
    padding: 20px;
}

#changePinModal .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: none;
}

#changePinModalLabel {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

#changePinModal .btn-close {
    color: white;
}

#changePinModal .form-control {
    background-color: var(--secondary-layer);
    color: white;
    border: 1px solid var(--backdrop-colour);
    border-radius: var(--default-border-radius);
    padding: 12px;
    font-size: 1rem;
}

#changePinModal .form-control::placeholder {
    color: #b0b3b8;
    font-style: italic;
}

#changePinModal .mb-3 {
    margin-bottom: 15px; 
}

#changePinUserList {
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
}

#submitChangePin {
    background-color: var(--secondary-layer);
    color: var(--success-colour);
    border: 2px solid var(--success-colour);
    font-size: 1.5rem;
    padding: 12px;
    border-radius: var(--default-border-radius);
    width: 100%;
}

#changePinModal .modal-footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-top: none;
}
