/* ===========================
   NOTIFICATIONS
=========================== */
#notification-container {
    /* Layout */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1050;

    /* Sizing */
    max-width: 400px;
    width: 100%;

    /* Spacing & Alignment */
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom notification styling */
.custom-alert {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Sizing */
    width: 90%;

    /* Spacing & Alignment */
    padding: 0 16px;
    text-align: center;

    /* Styling & Colors */
    border-radius: var(--outer-border-radius); 
    border-color: var(--secondary-layer);
    background-color: var(--base-layer); 
    color: var(--text-colour); 
}

.custom-alert .btn-close {
    /* Layout */
    position: relative;
    flex-shrink: 0;

    /* Spacing & Alignment */
    margin-left: 10px;

    /* Styling & Colors */
    filter: invert(1);
}
