/* ===========================
   TABLES
=========================== */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    cursor: pointer;
}

/* Filters */
.filter-card {
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #2d3748;
    max-width: 600px;
}
