services:
  postgres:
    image: postgres:15
    container_name: Postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data  # Use named volume instead of host directory

  django:
    container_name: Django
    build: ./django
    environment:
      DJANGO_ENV: docker
    volumes:
      - ./django:/app:rw  # Sync Django project files
    ports:
      - "8000:8000"   # Expose Django development server
      - "5678:5678"   # VSCode Debugger
    env_file:
      - .env 
    depends_on:
      - postgres
      - redis

  redis:
    image: redis:7
    container_name: Redis
    command: ["redis-server", "--requirepass", "$REDIS_PASSWORD"]
    ports:
      - "6379:6379"
    env_file:
      - .env # REDIS PASSWORD SET IN ENV FILE

  celery:
    container_name: Celery
    build: ./django
    environment:
      DJANGO_ENV: docker
    command: celery -A clock_in_system worker --loglevel=info
    volumes:
      - ./django/logs/:/app/logs:rw
    env_file:
      - .env
    depends_on:
      - django
      - redis

  celery-beat:
    container_name: CeleryBeat
    build: ./django
    environment:
      DJANGO_ENV: docker
    command: celery -A clock_in_system beat --loglevel=info
    volumes:
      - ./django/logs/:/app/logs:rw
    env_file:
      - .env
    depends_on:
      - django
      - redis

volumes:
  postgres-data:  # Named volume for Postgres data
